# Exclude node_modules (already included in the Dockerfile)
node_modules/

# Exclude build artifacts
dist/

# Exclude development-specific files
.git/
.gitignore
.editorconfig
.vscode/

# Debug logs
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# Test files
/e2e
/coverage

# Documentation
/docs
README.md

# Archives
*.zip
*.tar.gz
